* {
  font-family: inconsolata;
}

html,
body {
  /* min-height: 2000px; */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid.home {
  padding: 150px 0px;
}

#aboutMe {
  margin-bottom: 150px;
}

.title-aboutme {
  padding-top: 160px;
}

.ctn-skill {
  padding-bottom: 150px;
}

.title-skill {
  padding-top: 100px;
}

.contact {
  padding: 150px 0px;
}
